.em{
  font-size: 2em;
}
.rem{
  font-size: 2rem;
}
.vw{
  font-size: 5vw;
}
.vh{
  font-size: 5vh
}

a{
  color: red;
}

a:hover{
  color: blue;
}

a:active{
  background-color: red;
  text-decoration: none;
}

input:focus{
  background-color: blue;
}

.text::after{
  content: "Coddycamp salom hhjahjbajkfakj";
}